<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
   <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <h1>Welcome to the Dashboard!</h1>
     <% if (success_messages.length > 0) { %>
    <p style="color: rgb(52, 81, 52)"><%= success_messages[0] %></p>
    <% } %> <% if (error_messages.length > 0) { %>
    <p style="color: red"><%= error_messages[0] %></p>
    <% } %>
    <a href="/logout">Logout</a> 

    
  </body>
</html>
