<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="POST">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <button type="submit">Login</button>
    </form>

    <% if (success_messages.length > 0) { %>
    <p style="color: rgb(52, 81, 52)"><%= success_messages[0] %></p>
    <% } %> <% if (messages.error) { %>
    <p style="color: red"><%= messages.error %></p>
    <% } %>
    <div class="links-container">
      <a href="/">Home Page</a>
    </div>
  </body>
</html>
