<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User List</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <h1>User List</h1>
    <ul>
      <% users.forEach(user => { %>
      <li>
        <strong><%= user.email %> </strong> - (Created at: <%=
        user.createdAt.toLocaleString() %>)
      </li>
      <% }) %>
    </ul>
    <div class="links-container">
      <a href="/">Home Page</a>
    </div>
  </body>
</html>
